@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    /* Estilização do fundo da tela, antes da imagem de fundo */
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body {
    /* Definições da imagem de madeiras ao fundo do site */
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    /* Posicionamento e alinhamento de todo o conteúdo da página */
    position: relative;

    height: 95vh;
}

section#telefone {
    /* Formatação do frame do IPhone */
    background-image: url(../imagens/frame-iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Posicionamento responsivo do frame IPhone no centro da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 15px;
    height: 600px;
    width: 303px;
}

section#socials {
    /*
    Posicionando os botões na direita do site
    Os botões ficando um embaixo do outro são consequência da tag 'br' colocada no arquivo HTML.
    */
    position: absolute;
    top: 0px;
    right: 0px;
}

section#socials img {
    /* Tamanho dos ícones sociais */
    height: 50px;
    width: 50px;

    /* Impede que outros conteúdos criados pelo botão sejam expostos para fora (serão expostos dentro do tamanho do botão), quebrando o tamanho total do botão */
    box-sizing: border-box;

    /* Espaçamento entre botões e sombreamento */
    margin: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .75);

    /*
    Botões quadrados agora são redondos
    50% seria outro valor correto para esta ocasião.
    */
    border-radius: 999px;

    /* Duração da transição do hover */
    transition-duration: .33s;
}

section#socials img:hover {
    /* Borda branca para efeito de selecionamento interno, com a ajuda do border-box para manter o "aumento" da borda que iria crescer pra dentro, crescer pra fora */
    border: 2px solid rgba(255, 255, 255, .5);

    /* Levantamento do botão para um efeito de selecionado */
    transform: translate(-5px, -5px);

    /* Refazendo a sombra do botão quando selecionado */
    box-shadow: 4px 4px 7.5px rgba(0, 0, 0, .5);

    /* Duração da transição do hover e do bordado branco do selecionamento interno */
    transition: .33s, border .5s;
}

iframe#tela {
    /* Posicionando o visor no centro do IPhone */
    position: relative;
    top: 72px;
    left: 21px;

    width: 262px;
    height: 460px;
}